<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/WEB_253502_AKHMETOV.UI.styles.css" asp-append-version="true" />
</head>
<body>
   <header>
        <div class="container">
            <!-- Панель навигации -->
           <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                
                <partial name="_MenuPartial"/>

                <partial name="_UserInfoPartial" />
               
<!-- Информация пользователя - конец -->
            </nav> 
           
        </div>
          
            <!-- container - конец -->
    </header><!-- header - конец -->




    <main class="container" style="padding: 10px 0px 10px 0px">
        @RenderBody();
    </main>




    <footer>
        @RenderSection("Footer", required: false)
    </footer>
  
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
